.content-row {
  display: flex;
}

.content-row > p {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.content-row:nth-child(even) {
  background: lightgray;
}

.content-row:nth-child(odd) {
  background: darkgray;
}
